/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

.contenedor-login {
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  width: 350px;
  background-color: rgba(254, 255, 254, 0);
  border-radius: 20px;
  margin-top: 50px;
  padding: 20px;
  backdrop-filter: blur(1px);
  box-shadow: 0 0 70px 10px rgba(24, 246, 72, 0.871);
  text-align: center;
}

.mb-3 {
  justify-content: center;
}

.DATO {
  text-align: center;
}

h1 {
  color: aliceblue;
  margin-top: 10px;
}

.butones-user {
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.btn-dark {
  align-items: center;
  justify-content: center;
  width: 310px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px 10px rgba(22, 185, 44, 0.534);
  color: rgb(6, 235, 56);
  background-color: rgba(0, 5, 5, 0.921);
  backdrop-filter: blur(1px);
}

.btn-dark:hover {
  background-color: rgb(90, 246, 0);
  color: black;
  box-shadow: 0 0 10px 10px rgba(122, 222, 21, 0.882);
}
.fa-solid fa-cart-shopping {
  font-size: 30px;
  color: rgb(246, 253, 253);
}

.form-select {
  margin-bottom: 10px;
  backdrop-filter: blur(1px);
  background-color: rgba(7, 251, 7, 0.618);
  color: aliceblue;
}

.form-select:hover {
  box-shadow: 0 0 10px 10px rgb(130, 249, 12);
}
option {
  color: black;
}

.form-control {
  backdrop-filter: blur(1px);
  background-color: rgba(5, 224, 20, 0.196);
  color: rgb(255, 254, 254);
}

.form-control:hover {
  backdrop-filter: blur(1px);
  background-color: rgba(5, 224, 38, 0.159);
  box-shadow: 0 0 10px 10px rgba(105, 220, 11, 0.849);
  color: white;
}

.card-producto {
  text-align: center;

  backdrop-filter: blur(1px);
  background-color: rgba(10, 255, 47, 0.838);
  box-shadow: 0 0 50px 30px rgb(19, 155, 53);
  border: 10px solid rgba(0, 0, 0, 0.54);

  color: rgb(0, 0, 0);
}

.tareas-lista-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.contenedor-tarea {
  width: 600px;
  height: 60px;

  background-color: #a5a5c2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #040000;
}

.tarea-texto {
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.icono-eliminar {
  text-align: center;
  
  margin: 10px;
  font-size: 50px;
  color: rgb(7, 10, 10);
}

.tarea-input {
  width: 600px;
  font-size: 18px;
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 5px;
  border: 2px solid #00471b;
  outline: none;
}

.tarea-formulario {
  display: flex;

  align-items: center;
  justify-content: center;
}

.error {
  color: #d23200;
  font-size: 16px;
}
.contenedor-inv {
  display: inline-block;
}
